body{
    font-size: 14px;
    font-family: 'GmarketSansMedium';
    background-image: url(https://wallpaperswide.com/download/soccer_player-wallpaper-1920x1200.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body ::after {
    position: absolute;
    content: "";
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.05;
    z-index: -1;
}

a{
    text-decoration: none;
}

#header{
    width: 207.8vh;
    background-color: rgb(146,35,78);
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header > h1{
    font-family: 'KBO-Dia-Gothic_bold';
    font-size: 4vh;
    color: white;
}

main{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-contents{
    overflow:auto;
    width: 60%;
    height: 80%;
    background-color: white;
    
    font-size : 100px;
    /*overflow:scroll; 나중에 스크롤 적용*/
}




#main-bar1 {
    width: 10%;
    height: 60%;
}

.weather{
    margin-top : 1vh;
    padding-top : 1vh;
    padding-left :1vh;
    width : 21.8vh;
    height : 35vh;
    font-size: 2vh;
    background-color: aliceblue;
}



#main-bar1-user a {
    color:white;
}

#main-bar1 > div:nth-child(1){
    width: 110%;
    height: 35%;
}



#main-bar1-user > div:nth-child(1){
    width: 100%;
    height: 80%;
    background-color: rgb(255,243,249);
    display: flex;
    align-items: center;
    font-size: 18px;
}

#main-bar1-user > div:nth-child(2){
    width: 100%;
    height: 25%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3vh;
}

#main-bar1-user > div:nth-child(2):hover{
    background-color: rgb(124, 32, 32);
}

#main-navbar {
    width: 10%;
    height: 60%;
    background-color: rgba(27, 11, 20, 0.65);
    display: flex;
    justify-content: center;
}

#main-navbar-list{
    margin-top: 3vh;
}

#main-navbar-list li{
    width: 18vh;
    padding: 1.5vh;
    padding-bottom : 2vh
}

#main-navbar-list a {
    text-decoration: none;
    font-size: 3vh;
    overflow:auto;
    color: white; 
    margin-bottom: 1vh;
}

#main-navbar-list a:hover {
    text-decoration: none;
}

#user-interface {
    height: 8vh;
    width: 8vh;
    border-radius:50vh;
    background-color: gray;
    margin-left: 1vh;
    margin-right: 1vh;
}

.user-interface-dept {
    font-size: 1.5vh; 
    margin-bottom: 1vh; 
    color: gray;
}

.user-interface-num{
    font-size: 1.5vh; 
    margin-bottom: 1vh;
    color: rgb(201, 201, 201);
}

.user-interface-name{
    font-size: 3vh;
}