body{
    font-size: 14px;
    font-family: 'GmarketSansMedium';
    background-image: url(https://wallpaperswide.com/download/soccer_player-wallpaper-1920x1200.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body ::after {
    position: absolute;
    content: "";
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.05;
    z-index: -1;
}

a{
    text-decoration: none;
}

#header{
    width: 100%;
    background-color: rgb(146,35,78);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header > h1{
    font-family: 'KBO-Dia-Gothic_bold';
    font-size: 34px;
    color: white;
}

main{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-contents {
    width: 45%;
    height: 65%;
    background-color: white;
    /*overflow:scroll; 나중에 스크롤 적용*/
}

#main-bar1 {
    width: 10%;
    height: 60%;
}

#main-bar1-user a {
    color:white;
}

#main-bar1 > div:nth-child(1){
    width: 110%;
    height: 35%;
}

#main-bar1 > div:nth-child(2){
    width: 110%;
    height: 65%;
    background-color: royalblue;
}
#main-bar1-user > div:nth-child(1){
    width: 100%;
    height: 80%;
    background-color: rgb(255,243,249);
    display: flex;
    align-items: center;
    font-size: 18px;
}

#main-bar1-user > div:nth-child(2){
    width: 100%;
    height: 25%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

#main-bar1-user > div:nth-child(2):hover{
    background-color: rgb(124, 32, 32);
}

#main-navbar {
    width: 10%;
    height: 60%;
    background-color: rgba(27, 11, 20, 0.65);
    display: flex;
    justify-content: center;
}

#main-navbar-list{
    margin-top: 15px;
   
}

#main-navbar-list li{
    width: 100%;
    padding: 15px;
}

#main-navbar-list a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#main-navbar-list a:hover {
    text-decoration: underline;
}

#user-interface {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: gray;
    margin-left: 10px;
    margin-right: 15px;
}