body{
    font-size: 14px;
    font-family: 'GmarketSansMedium';
    background-image: url("../img/backgroundimage.png");
    background-repeat: no-repeat;
    background-size: cover;
}


a{
    text-decoration: none;
}
#logo{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: 'KBO-Dia-Gothic_bold';
    font-size: 70px;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hideSplashScreen 0.3s ease forwards;
    animation-delay: 2s;

}
#logo>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 35px;
    border-radius: 50px;
    background-color: rgb(146,35,78);
}

#logo h1:nth-child(1){
    font-family: 'GmarketSansMedium';
    font-size: 30px;
    margin-bottom: 5px;
}

#header{
    width: 100vw;
    background-color: rgb(146,35,78);
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header > h1{
    font-family: 'KBO-Dia-Gothic_bold';
    font-size: 4vh;
    color: white;
}

main{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-welcome {
    width: 60%;
    height: 80%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cbnu_logo_img{
    width: 230px;
    margin-bottom: 30px;
}
.welcome-section{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.description{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.description > div:nth-child(1){
    font-size:20px;

    margin-bottom: 2px;
}
.description > div:nth-child(2){
    font-family: 'KBO-Dia-Gothic_bold';
    font-size: 45px;
    color: white;
    background-color:rgb(146,35,78);
    padding: 15px;
    border-radius: 25px;
}
.publisher{
    padding: 10px;
    display: flex;
    position: absolute;
    bottom: 0px;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;

}

.publisher > div{
    color: gray;
    padding: 0px 20px;
}

.main-contents{
    overflow:auto;
    width: 60%;
    height: 80%;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size : 100px;
    /*overflow:scroll; 나중에 스크롤 적용*/
}
.match-contents{
    overflow:auto;
    width: 60%;
    height: 80%;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size : 100px;
    display: flex;
}

.matchform {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    margin: 10px;
    padding: 25px 0px;
    background-color: #cecece;
}
.matchform:hover
{
    background-color: #c7c7c7;
}

.matchform > div
{
    margin: 10px 0px;
}

.matchform h1
{
    font-family: 'KBO-Dia-Gothic_bold';
}

.matchform a
{
    background-color: rgb(146,35,78);
    text-decoration: none;
    color: white;
    font-family: 'KBO-Dia-Gothic_bold';
}

.matching-contents{
    margin : 8vh;
}
.matching-contents li p{
    font-size: 4vh;
    margin-top : 2vh;
    color: black;
}
#matching-form > input{
    width: 150px;
    height: 50px;
    padding: 0 10px;
    margin-right: 8vh;
    float : right;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#matching-form > input:active{
    border: blue;
}
#matching-form > input::placeholder{
    color:rgb(110,110,110);
}
#matching-form > input[type="submit"]{
    color: #fff;
    font-size: 4vh;
    background-color: rgb(146,35,78);
    margin-top: 20px;

}

#matching-form > input[type="submit"]:hover{
    background-color: white;
    color: rgb(146,35,78);
    transition: all 0.3s ease;
}


#main-bar1 {
    width : 21.8vh;
    height: 60%;
}

.weather{
    width : 21.8vh;
    height : 35vh;
    padding-bottom: 5px;
    font-size: 2vh;
    background-color: aliceblue;
    border-right: #4a7565 1px solid;
    border-bottom: #4a7565 1px solid;
}

.weather-container{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.weather-data{
    background-color: gray;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 3px;
}
.location{
    font-size: 3vh;

}
.current-time{
    font-size: 1.5vh;
    padding-top: 5px;
    color:white;
    background-color: dimgray;
    width: 70%;
}

.weather-temp{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.icon-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding:15px 0px;
    background-color: #f5f5f5;
}
.icon {
    display: flex;
    justify-content: center;
    width: 100%;
}

.mainweather{
    margin-bottom: 7px;
    background-color: cadetblue;
    padding: 5px;
    border-radius: 3px;
    color:white;
}
.temp-section{
    width: 100%;
    height: 100%;
    margin-top:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.temp-section > div{
    background-color: #ffffff;
    padding: 3px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 3px 0px;
    font-size: 2vh;
}
.current-temp
{

}
.feels-like
{

}

#main-bar1-user{
    border-top: 1px solid rgb(146,35,78);
    border-right: 1px solid rgb(146,35,78);
}

#main-bar1-user a {
    color:white;
}

#main-bar1 > div:nth-child(1){
    width: 100%;
    height: 35%;
}



#main-bar1-user > div:nth-child(1){
    width: 100%;
    height: 80%;
    background-color: rgb(255,243,249);
    display: flex;
    align-items: center;
    font-size: 18px;
}

#main-bar1-user > div:nth-child(2){
    width: 100%;
    height: 25%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3vh;
}

#main-bar1-user > div:nth-child(2):hover{
    background-color: rgb(124, 32, 32);
}

#main-navbar {
    width : 21.8vh;
    height: 60%;
    background-color: rgba(27, 11, 20, 0.65);
    display: flex;
    justify-content: center;
}

#main-navbar-list{
    margin-top: 3vh;
}

#main-navbar-list li{
    width: 18vh;
    padding: 1.5vh;
    padding-bottom : 2vh;
    padding-left: 1px;
    padding-right: 1px;
    border-bottom: 1px solid #988888;
}

#main-navbar-list a {
    text-decoration: none;
    font-size: 3vh;
    color:white;
    overflow:auto;
    margin-bottom: 1vh;
}

#main-navbar-list p:hover {
    text-decoration: none;
    color: #949494;
}

#user-interface {
    height: 8vh;
    width: 8vh;
    border-radius:50vh;
    background-color: gray;
    margin-left: 1vh;
    margin-right: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-interface img {
    height: 8vh;
    width: 8vh;
}

.user-interface-dept {
    font-size: 1.5vh;
    margin-bottom: 1vh;
    color: gray;
}

.user-interface-num{
    font-size: 1.5vh;
    margin-bottom: 1vh;
    color: rgb(201, 201, 201);
}

.user-interface-name{
    font-size: 3vh;
}

.user-info-image{
    margin-top : 5vh;
    margin-left: 5vh;
    margin-right: 5vh;

    width: 113vh;
    height: 60vh;
}

@keyframes hideSplashScreen {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}